<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icona"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icona"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Buyer.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Seller.EditDelProductActivity"
            android:theme="@style/DefaultTheme"
            android:exported="false" />
        <activity
            android:name=".Admin.ShopApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".Seller.ShowProductsActivity"
            android:theme="@style/DefaultTheme"
            android:exported="false" />
        <activity
            android:name=".Seller.AddProductActivity"
            android:theme="@style/DefaultTheme"
            android:exported="false" />
        <activity
            android:name=".Seller.AddShopActivity"
            android:theme="@style/DefaultTheme"
            android:exported="false" />
        <activity
            android:name=".Other.SignUpActivity"
            android:theme="@style/DefaultTheme"
            android:exported="false" />
        <activity
            android:name=".Buyer.BuyerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Seller.SellerActivity"
            android:theme="@style/DefaultTheme"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Other.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".Other.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>